{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.juzcuzican_store' %}
  {% include 'custom_fields.collections.cf_mu' %}
  {% include 'custom_fields.collections.men_and_womens_sport_digital_a' %}
</div>