{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/juz-cuz-i-can-badge-of-honor-for-queens.myshopify.com/collections/configure/110271/edit
{% endcomment %}
{% if collection.metafields.custom_fields["cf_mu"] != blank %}
  <div class="custom-field custom-field__cf-mu custom-field__type--number-list">
    <h3 class="custom-field--title">Music 🎶 </h3>
    <div class="custom-field--value">  
      {{ collection.metafields.custom_fields["cf_mu"] }}
    </div>
  </div>
{% endif %}